db = db.getSiblingDB("{{ mongodb_database }}")
db.auth("{{ db_username }}", "{{ db_password }}")

db["{{ db.whisk.activations }}.activations/byDate"].drop()
db["{{ db.whisk.activations }}.whisks-filters.v2.1.0/activations"].drop()
db["{{ db.whisk.activations }}.whisks-filters.v2.1.0/activations.reduce"].drop()
db["{{ db.whisk.activations }}.whisks.v2.1.0/activations"].drop()
db["{{ db.whisk.activations }}.whisks.v2.1.0/activations.reduce"].drop()

db.createView(
    "{{ db.whisk.activations }}.activations/byDate",
    "{{ db.whisk.activations }}",
    [
        { "$match": { "activationId": { "$exists": true } } },
        { "$lookup": { "from": "{{ db.whisk.activations }}", "localField": "_id", "foreignField": "_id", "as": "doc" } },
        { "$project": { "_id": 0, "key": "$start", "value": ["$_id", "$_rev"], "doc": { "$arrayElemAt": ["$doc", 0] }, "id": "$_id" } }
    ]
)

db.createView(
    "{{ db.whisk.activations }}.whisks-filters.v2.1.0/activations",
    "{{ db.whisk.activations }}",
    [
        { "$match": { "activationId": { "$exists": true } } },
        {
            "$addFields": {
                "flag": {
                    "$arrayElemAt": [{ "$filter": { "input": "$annotations", "cond": { "$eq": ["$$this.key", "path"] } } }, 0]
                }
            }
        },
        { "$lookup": { "from": "{{ db.whisk.activations }}", "localField": "_id", "foreignField": "_id", "as": "doc" } },
        {
            "$project": {
                "key": [{ "$ifNull": ["$flag.value", { "$concat": ["$namespace", "/", "$name"] }] }, "$start"],
                "value": {
                    "namespace": "$namespace",
                    "name": "$name",
                    "version": "$version",
                    "publish": "$publish",
                    "annotations": "$annotations",
                    "activationId": "$activationId",
                    "start": "$start",
                    "end": "$end",
                    "duration": {$cond: [{$eq: ["$end", null]}, null, {$subtract: ["$end", "$start"]}]},
                    "cause": "$cause",
                    "statusCode": "$response.statusCode"
                },
                "_id": 0,
                "id": "$_id",
                "doc": { "$arrayElemAt": ["$doc", 0] }
            }
        }
    ]
)

db.createView(
    "{{ db.whisk.activations }}.whisks-filters.v2.1.0/activations.reduce",
    "{{ db.whisk.activations }}",
    [
        { "$match": { "activationId": { "$exists": true } } },
        {
            "$addFields": {
                "flag": { "$arrayElemAt": [{ "$filter": { "input": "$annotations", "cond": { "$eq": ["$$this.key", "path"] } } }, 0] }
            }
        },
        {
            "$project": {
                "key": [{ "$ifNull": ["$flag.value", { "$concat": ["$namespace", "/", "$name"] }] }, "$start"],
                "value": {
                    "$literal": 1
                }
            }
        }
    ]
)

db.createView(
    "{{ db.whisk.activations }}.whisks.v2.1.0/activations",
    "{{ db.whisk.activations }}",
    [
        { "$match": { "activationId": { "$exists": true } } },
        { "$lookup": { "from": "{{ db.whisk.activations }}", "localField": "_id", "foreignField": "_id", "as": "doc" } },
        {
            "$project": {
                "key": ["$namespace", "$start"],
                "value": {
                    "namespace": "$namespace",
                    "name": "$name",
                    "version": "$version",
                    "publish": "$publish",
                    "annotations": "$annotations",
                    "activationId": "$activationId",
                    "start": "$start",
                    "end": "$end",
                    "duration": {$cond: [{$eq: ["$end", null]}, null, {$subtract: ["$end", "$start"]}]},
                    "cause": "$cause",
                    "statusCode": "$response.statusCode"
                },
                "_id": 0,
                "id": "$_id",
                "doc": { "$arrayElemAt": ["$doc", 0] }
            }
        }
    ]
)

db.createView(
    "{{ db.whisk.activations }}.whisks.v2.1.0/activations.reduce",
    "{{ db.whisk.activations }}",
    [
        { "$match": { "activationId": { "$exists": true } } },
        {
            "$project": {
                "key": ["$namespace", "$start"],
                "value": { "$literal": 1 }
            }
        }
    ]
)
