include classpath("application.conf")

whisk {
  couchdb {
    protocol = "{{ db.protocol }}"
    host     = "{{ db.host }}"
    port     = "{{ db.port }}"
    username = "{{ db.credentials.admin.user }}"
    password = "{{ db.credentials.admin.pass }}"
    provider = "{{ db.provider }}"
    databases {
      WhiskAuth       = "{{ db.whisk.auth }}"
      WhiskEntity     = "{{ db.whisk.actions }}"
      WhiskActivation = "{{ db.whisk.activations }}"
    }
  }
  {% if db.artifact_store.backend == 'MongoDB' or db.activation_store.backend == 'MongoDB' %}
  mongodb {
    host        = "{{ mongodb_host | default(db.host) }}"
    port        = "{{ mongodb_port | default(db.port) }}"
    database    = "{{ db.mongodb.database }}"
    username    = "{{ db.credentials.admin.user }}"
    password    = "{{ db.credentials.admin.pass }}"
    collections {
      WhiskAuth       = "{{ db.whisk.auth }}"
      WhiskEntity     = "{{ db.whisk.actions }}"
      WhiskActivation = "{{ db.whisk.activations }}"
    }
  }
  {% endif %}
}
